sounddevice
webrtcvad
numpy
faster-whisper
langgraph
pydantic
requests
soundfile
pynput
kokoro
chromadb
pypdf
ollama
ddgs
transformers
accelerate
datasets
pywhispercpp
torchaudio
scikit-learn
qwen-tts
langchain-text-splitters
sentence-transformers
